html {
  scroll-behavior: smooth;
}

body{
  background-color: black;
  color: aliceblue;
  font-family: 'Inconsolata', monospace;
  /* display: flex; */
}


nav{
  position: fixed;
  width: 100%;
}

.project-pic{
height: 70%;
width: 30%;
margin: 1%;
}

.for_slick_slider{

width: 92%;
height: 50%;
margin: 50px;

}
.images{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500%;

}

.description{
  display: flex;
  justify-content: space-around;
}

.bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color:#696969;;
  height: 50px;
  position: relative;
  }

  span {
    text-decoration: underline overline;
  }

.navbar{
  font-style: none;
  font-weight: bold;
  list-style-type: none;
}

.profile{
display: flex;
flex-direction: column;
justify-content: center;

}
.techUsed{
  margin-top: 5%;
}

.primero{
  display: flex;
  margin-left: 5%;
  height: 100vh;
  align-items: center;
  /* justify-content: space-around; */
}
.brand{
  text-align: justify;
  text-justify: inter-word;
}

.first{
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-around;
  height: 100vh;
  
}

   .skills{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3%;
    width: 90%;
 
  } 

 

  progress{
  -webkit-appearance: none;
   appearance: none;
   background-color: #eee;
   border-radius: 2px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
article{
  align-self: center;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  width: 500px;
  

}

hr{
  border-top: 1px solid aliceblue;
}

a{
  text-decoration: none;
  color: aliceblue;
} 

#contacts{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.experience{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 400px;
  overflow-y: auto;
  white-space: nowrap;
  margin-top: 50px;
  
}

 #experience{
  text-align: center;
  margin-top: 30px;
  font-family: 'Russo One', sans-serif;
  font-size: large; 
} 

#about{
  
  font-size: large;
  font-family: 'Russo One', sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

.about{
  width: 50%;
}


#skills{
  /* margin-left: 45%; */
  /* margin-bottom: -13.5%; */
  font-family: 'Russo One', sans-serif;
  font-size: large;
 
}
.contact{
  margin-top: 30px;
  font-weight: bold;
  font-size: large;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

strong{
  font-weight: bold;
}

h1{
  font-size: xx-large;
  margin-top: 20px;
  font-family: 'Russo One', sans-serif;
}

.name{
  font-size: 600%;
}

.jr{
  font-size: 200%;
  margin-top: 10px;

}

#projects{
  margin-top: 5%;
  margin-left: 45%;
  font-size: 200%;
  font-family: 'Russo One', sans-serif;
}

.sk{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 5px;

}

i{
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 200%;
}

h3{
  font-size: large;
  font-weight: bold;
  margin: 10px;
}

h2{
  font-size: medium;
  margin: 10px;
}

.sk:hover{
  transform: scale(1.5);
}

.education{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

#education{
  margin-top: 70px;
  font-family: 'Russo One', sans-serif;
  font-size: large;
  text-align: center;
  margin-bottom: 30px;
}

.profilepic{
  width: 50%;
  border-radius: 5%;
  /* height: 50%; */
}
.mobileView{
  display: none;
}

.moreSoon{
  display: flex;
  justify-content: center;
  margin-top: 20%;
}



/* ============================================================================DARKMODE================================================================== */


.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}

.darkmode{
  margin-top: 1%;
}

.dark-mode {
  background-color: whitesmoke;
  color: black;
}


/* ===================================================================particles.js===================================================== */
canvas{ 
  display: block; 
 
} 

#particles-js{ 
  /* position:absolute;  */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000000; 
} 

.particles-js-white{ 
  /* position:absolute;  */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color:white; 
} 
/* ========================================================================================================================================================== */
@media only screen and (max-width: 600px) {
 main {
   display: none;
 }

 .bar{
   display: none;
 }
 .darkmode{
   margin-top: -20%;
 }

 .mobileView{
  display: block;
  text-align: center;
  margin-top: 30%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 30%;
  margin-top: 10%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



}